* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "cabecalho" "principal" "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.6rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.5rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh -180px);
    background-color: gray;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.rodape {
    grid-area: rodape;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: darkslategrey
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3{
    margin: 0px;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: cornflowerblue;
}

.modulo > ul {
    margin: opx;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 7px;
    font-size: 1.3 rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #EEE;
}

.modulo.verde { border: 2px solid #009E73; }
.modulo.verde > h3 { background-color: #009E73; }

.modulo.azul { border: 2px solid #0072B2; }
.modulo.azul > h3 { background-color: #0072B2; }

.modulo.laranja { border: 2px solid #D55E00; }
.modulo.laranja > h3 { background-color: #D55E00; }

.modulo.amarelo { border: 2px solid #F0E442; }
.modulo.amarelo > h3 { background-color: #F0E442; }

.modulo.azulclaro { border: 2px solid #88CCEE; }
.modulo.azulclaro > h3 { background-color: #88CCEE; }

.modulo.azulclaro2 { border: 2px solid #7DE5ED; }
.modulo.azulclaro2 > h3 { background-color: #7DE5ED; }

.modulo.azulclaro3 { border: 2px solid #81C6E8; }
.modulo.azulclaro3 > h3 { background-color: #81C6E8; }

.modulo.azulclaro4 { border: 2px solid #5DA7DB; }
.modulo.azulclaro4 > h3 { background-color: #5DA7DB; }

.modulo.azulescuro { border: 2px solid #5837D0; }
.modulo.azulescuro > h3 { background-color: #5837D0; }